body{

    background: rgb(197, 202, 206);
}
.right{
    text-align: right;
}
.card { background-color:  #e6e8ea;   
    float: left;
    height: 260px;
    width: 190px;
    padding-top: 6px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: 3px;
    cursor: pointer;
    /* padding-bottom: 90px; */
    /* max-height: 250px; */
    text-align: center;
    font-family: arial;
  }
  .price {
    color: rgb(72, 71, 71);
    font-size: 22px;
  }
  
  .card button {
      border-radius: 25px;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(108, 107, 107);
    text-align: center;
    width: 60%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}
.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.jumbotron{
    background-color:  #e6e8ea;
    height: auto;
    margin-top: 10px;
    padding-left: 0%;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}